@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/Downloads/Logo.jpeg" />
    <h1 class="display-4">Sri Lakshmi Medicals</h1>
    <p>Where your Health Comes First</a>.</p>
</div>
